
.userUpdateForm {
    margin-bottom: 20px;
}
.userUpdateLabel{
    display: block;
    margin-bottom: 10px;
}

.userUpdateInput{
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
input[type="submit"], button {
    
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
}

#display-container, #image-container {
    margin-top: 20px;
}
#userTable {
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      padding: 8px;
      text-align: left;
    }

  }
 
   #crexLogo{
    max-width: 100px;
    max-height: 100px;
  }





  
  
   .navbar {
    background-color: #e60124;
    border-radius: 15px;
    color: white !important;
  }
  .nav-item {
    color: white;
    border-radius: 15px;
  }
  .nav-item:hover {
    background-color: white !important;
    color: #e60124 !important;
    border-radius: 15px;
  }
  .navbar-nav {
    display: flex;
  }
  .nav-item:hover i {
    display: inline-block;
  }
  .nav-item i {
    display: none;
  }
  .navbar-toggler {
    background-color: #e60124;
    border: none;
  }
  .navbar-toggler:hover {
    background-color: white;
    +.collapse.navbar-collapse {
      display: block;
    }
  }
  #userUpdateBtn {
    text-decoration: none;
    color: black;
    border-radius: 15px;
  }
  #userUpdateBtn:hover {
    color: #e60124;
    border-radius: 15px;
  }
  .table {
    border: none;
    background-color: white;
  }
  .table th, .table td {
    border: none;
    background-color: white;
  }
  #updateUserSubmit:hover{
    background-color: #e60124;
    color: white !important;
    border: none;
  }

  @media (max-width: 768px) {
    .navbar {
      background-color: #e60124;
      padding: 10px;
    }
  }



  /* product */


  #productTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #productTable th, #productTable td {
    padding: 8px;
    text-align: left;
  }
  
  #productTable th {
    background-color: #f0f0f0;
  }
  
  #productTable td {
    border-bottom: 1px solid #ddd;
  }
  
  #productTable td:last-child {
    text-align: center;
  }


  #userDisplayBtn{
    background-color: #e60124;
    color: white;
  }
  #feedbackBtn{
    background-color:#e60124;
    color: white;
  }
  #productBtn{
    background-color: #e60124;
    color: white;
  }
  #ordersBtn{
    background-color: #e60124;
    color: white;
  }
  #designBtn{
    background-color: #e60124;
    color: white;
  }
  #updateProductBtn:hover{
    background-color: #e60124;
    border:none
  }
  .image-containerOrder {
    text-align: center;
    margin: 10px;
  }
  
  .orderImage {
    max-width: 100%;
    height: 130px;
    margin: 10px;
  }
  #createProductModalBtn:hover{
    background-color: #e60124;
    border: none;
  }
  #uploadImageBtn:hover{
    background-color: #e60124;
    border: none;
  }
  